.grid-wrap {
    display: grid;
    grid-gap: rem(30);
    grid-template-columns: repeat(12, 1fr);
    .grid-item {
        &:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 4;
            grid-row-end: 12;
        }
        &:nth-child(2){
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 1;
            grid-row-end: 10;
        }
        &:nth-child(3) {
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 10;
            grid-row-end: 13;
        }
    }
}