 footer {
    background: $primary-color;
    color: $white-color;
    padding: rem(64) 0 rem(80);
    @include mobile-md{
        padding: rem(40) 0;
    }
    .footer-top {
        display: flex;
        gap: rem(120);
        @include desktop-xs {
            gap: rem(50);
        }
        @include tablet-lg  {
            gap: rem(20)
        }
        @include mobile-lg {
            flex-wrap: wrap;
        }
        .footer-block-left {
            width: 26%;
            @include mobile-lg {
                width: 100%;
            }
        }
        .footer-block-right {
            display: flex;
            flex-wrap: wrap;
            gap: rem(120);
            width: 74%;
            margin-top: rem(16);
            @include desktop-xs {
                gap: unset;
                flex-wrap: unset;
                justify-content: space-between;
            }
            @include mobile-lg {
                width: 100%;
            }
            @include mobile-md {
                flex-wrap: wrap;
                margin-top: 0;
                gap: rem(10);
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: rem(24);
                font-size: rem(16);
                line-height: rem(32);
                color: $footer-color;
                @include desktop-xs {
                    width: 25%;
                }
                @include tablet-lg {
                    font-size: rem(13);
                    gap: rem(16);
                    padding-left:rem(12) ;
                }
                @include mobile-md {
                    width: 100%;
                    gap: rem(3);
                    padding-left: 0;
                }
                .sub-head {
                    font-family: $font-subhead;
                    line-height: rem(24);
                    color: $white-color;
                }
                a {
                    color: $white-color;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .footer-bottom {
        margin-top: rem(96);
        @include mobile-md  {
            margin-top: rem(20);
        }
    }
    p {
        margin-top: rem(16);
        @include tablet-lg {
            font-size: rem(13);
            margin-top: 0;
        }
    }
 }