.navbar {
    padding: rem(40) 0;
    @include tablet-md {
        padding: rem(20) 0;
        border-bottom: rem(1) solid $primary-color-light;
        position: fixed;
        background: $white-color;
        transition: .3s all;
        left: 0;
        right: 0;
        top: 0;
        z-index: 999;
    }
    .nav-items {
        display: flex;
        max-width: rem(1138);
        position: relative;
        .menu-btn {
            cursor: pointer;
            font-size: rem(24);
            display: none;
            .icon-close-icon{
                display: none;
            }
            @include tablet-md{
                display: block;
            }
        }
        .nav-menu {
            @include tablet-md {
                display: none;
                position: fixed;
                flex-direction: column;
                left: 0;
                top: rem(101);
                background: $white-color;
                height: 100%;
                opacity: 0;
                visibility: hidden;
            }
            &.active {
                @include tablet-md {
                    visibility: visible;
                    opacity: 1;
                    transition: all .26s linear 0s;
                }
            }
            li {
                @include tablet-md {
                    width: 100%;
                    margin: 0;
                    text-align: center;
                    padding: rem(24) 0;
                    border-bottom: rem(1) solid $primary-color-light;
                }
            }
            .menu-items {
                display: flex;
                font-family: $font-semibold;
                font-size: rem(15);
                line-height: rem(22); 
                gap: rem(33);  
                height: rem(22); 
                align-items: center;             
                @include tablet-md {
                    width: 80%;
                    flex-direction: column;
                    gap: rem(0);
                    text-align: center;
                    margin: auto;
                    height: unset;
                }
                .contact-no {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: rem(1);
                        height: rem(19);
                        background: $light-color;
                        left:rem(-31.5);
                        @include tablet-md {
                            content: none;
                        }
                    }
                    a {
                        &:hover {
                            &::after{
                                width: 67%;
                                left: rem(30);
                            }
                        }
                    }
                }
                &.menu-left {
                    margin-left: rem(65);
                    @include tablet-md {
                        margin: 0 auto;
                        padding: rem(24) 0;
                        border-bottom: rem(1) solid $primary-color-light;
                    }
                }
                &.menu-right {
                    gap:rem(63.76);
                    @include tablet-md {
                        gap: rem(0);
                    }
                }
                a {
                    color:$black-color;
                    position: relative;
                    height: rem(22);
                    display: flex;
                    align-items: center;
                    &:hover {
                        &::after{
                            content: "";
                            position: absolute;
                            border-radius: rem(10);
                            background: #B00000;
                            height: 0.125rem;
                            width: 80%;
                            display: block;
                            margin: 0 auto;
                            left: 0;
                            right: 0;
                            bottom: rem(-4);
                            @include tablet-md {
                                content: none;
                            }
                        }
                    }
                    @include tablet-md {
                        display: block;
                        height: unset;
                        text-align: center;
                    }
                }
            }
            @include above($tablet-md) {
                display: flex!important;
            }
        }
        .icons {
            color: $primary-color;
            padding-right: rem(7.57);
            &::before{
                color: $primary-color;
            }
        }
    }
}